@page "/admin"
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize]


@{
}

<!DOCTYPE html>
<html>



<head>
    <title>Samazon Admin</title>
    <link href="/lib/twitter-bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/lib/font-awesome/css/all.min.css" rel="stylesheet" />
    <link href="C:\Users\swamj\.nuget\packages\bootstrap\5.1.3\contentFiles\any\any\wwwroot\css\bootstrap.min.css" rel="stylesheet" />
    
    <base href="/"/>
</head>

<body>
    <component type="typeof(Samazon.Pages.Admin.Routed)" render-mode="Server" />
    <script src="/_framework/blazor.server.js"></script>
</body>

</html>