<!DOCTYPE html>

<html>
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Exo:wght@849&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/lib/twitter-bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="C:\Users\swamj\.nuget\packages\bootstrap\5.1.3\contentFiles\any\any\wwwroot\css\bootstrap.min.css" rel="stylesheet" />
</head>
<body style="font-family:'Exo';">
    <div class="bg-dark text-white p-2">
        <span class="navbar-brand ml-2">SAMAZON</span>
    </div>
    <div>
        @RenderBody()
    </div>
</body>
</html>
