@page
@model Samazon.Pages.ConfirmationModel
@{
}

<div class="text-xl-center">
    <h2>Your order is being processed</h2>
    <a class="btn btn-primary" asp-controller="Home">Return to Home</a>
</div>